h2 {
    display: block;
    background: #BBB;
    margin: 0;
    font-size: 1em;
    padding: 0.2em 0.5em;
    color: #FFF;
    font-weight: bold;
}

#fab {
    display: block;
    position: fixed;
    background-color: #ff5d5d;
    right: 1em;
    bottom: 1em;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    text-align: center;
}

    #fab > i {
        vertical-align: middle;
        font-size: 1.6em;
        line-height: 2.5em;
    }