.category-item {
    list-style: none;
    text-align: right;
}

    .category-item a {
        text-decoration: none;
        color: #FFF;
        font-family: 'Roboto Slab';
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        transition: all 0.3s;
    }

        .category-item a:hover {
            color: #000;
            background: #CCC;
        }

        .category-item a.active {
            color: #000;
            background: #FFF;
        }